.discussion {
  position: relative;
  height: 100%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.discussion__content-scroll {
  flex-grow: 1;
  overflow-y: auto;
}

.discussion__content {
  max-width: 800px;
  margin: 0 auto;
  //box-sizing: border-box;
  padding: 0 20px;
}

.discussion-separator {
}

.movie-header {
  padding: 20px;
  border-bottom: 1px solid @border-color;
  font-size: 1em;
  flex-shrink: 0;
  background: #fff;
}

.movie-header__week, .movie-header__title {
  margin-right: 20px;
}

.movie-header__week {
}

.movie-header__title {

}

.movie-header__comment-counter {
  float: right;
}

.movie-info {
  padding: 20px 0;
  display: flex;

  img {
    width: auto;
    height: auto;
  }
}

.movie-info__poster {
  #BoxShadowHelper(1);
  margin-right: 20px;
}

.movie-info__content {
  p {
    margin: 0.25em 0;
  }
}

.comments {
  padding: 20px 0;
  box-sizing: border-box;
}

.comment {
  margin: 20px 0;
  //max-width: 500px; // should be about 65 characters per line?

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.comment__author {

}

.comment__date {
  margin-left: 5px;
  font-weight: 400;
  .color-grey();
  font-size: 0.8em;
}

.comment__text {
  margin: 5px 0;
  /*background: #fff;
  border: 1px solid @border-color;
  border-radius: 3px;*/
}

.add-comment-container {
  border-top: 1px solid @border-color;
  #BoxShadowHelper(1);
  flex-shrink: 0;
  background: #fff;
  padding: 0 10px;
}

// shown when user is not logged in
.add-comment-denial {
  text-align: center;
  display: block;
  padding: 10px;
}

.add-comment {
  background: #fff;
  margin: 10px auto;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  #BoxShadowHelper(1);
  border-radius: @form-border-radius;
  flex-shrink: 0;
  border: 3px solid lighten(@accent-color, 20%);
  #form-shadow();
}

.add-comment__input, .add-comment__submit {
  border: none;
}

.add-comment__input {
  flex-grow: 1;

  display: block;
  overflow: hidden;
  resize: none;
  box-shadow: none;

  border-radius: @form-border-radius 0 0 @form-border-radius;
}

.add-comment__submit {
  color: lighten(@accent-color, 25%);
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 0 @form-border-radius @form-border-radius 0;

  display: flex;
  flex-direction: column;

  &:hover {
    color: lighten(@accent-color, 15%);
  }

  &:active {
    color: @accent-color;
  }
}