.discussion {
  position: relative;
  height: 100%;
}

.discussion__content {
  margin-right: 250px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}

.movie-info {
  background: #fff;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  #BoxShadowHelper(1);
  overflow-y: auto;
  z-index: 5;

  img {
    width: 250px;
    height: auto;
  }
}

.movie-info__content {
  padding: 10px;
}

.comments {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.comment {
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.comment__author {

}

.comment__date {
  margin-left: 5px;
  font-weight: 400;
  color: #999;
  font-size: 0.8em;
}

.comment__text {
  margin: 0;
}

@add-comment-button-width: 150px;

.add-comment-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  #BoxShadowHelper(1);
}

.add-comment-denial {
  text-align: center;
  display: block;
  padding: 10px;
}

.add-comment {
  background: #fff;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  #BoxShadowHelper(1);
  border-radius: @form-border-radius;
  flex-shrink: 0;
  border: 3px solid lighten(@accent-color, 20%);
}

.add-comment__input, .add-comment__submit {
  border: none;
}

.add-comment__input {
  flex-grow: 1;

  display: block;
  overflow: hidden;
  resize: none;

  border-radius: @form-border-radius 0 0 @form-border-radius;
}

.add-comment__submit {
  width: @add-comment-button-width;
  border-left: 1px solid @form-border-color;

  border-radius: 0 @form-border-radius @form-border-radius 0;
}