html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #f6f6f6;
}

@import 'content.less';
@import 'discussion.less';
@import 'sidebar.less';
@import 'typography.less';
