.schedule-header {
  background: #fff;
  padding: 20px 20px 10px 40px;
  border-bottom: 1px solid @border-color;
}

.schedule-list {
  list-style: none;
  margin: 0;
  padding: 10px 20px 10px 0;
}

.schedule-list__item {
  display: flex;
  margin: 10px 0;
  align-items: stretch;
}

.schedule-list__item--empty {
  height: 100px;

  .schedule-list__year-week {
    border-right-color: greyscale(@accent-color);
  }

  .schedule-list__content {
    &:hover {
      &:hover {
        background: #fafafa;
        color: lighten(@text-color, 10%);
      }

      &:active {
        background: #f6f6f6;
        color: lighten(@text-color, 10%);
      }
    }
  }

  .schedule-list__info {
    text-align: center;
    font-size: 2em;
  }
}

.schedule-list__item--current-week {
  .schedule-list__week {
    font-weight: 500;
  }

  .schedule-list__content {
    background: linear-gradient(35deg, lighten(@accent-color, 40%), #fff);
  }
}

.schedule-list__item--faded {
  opacity: 0.4;
}

.schedule-list__year-week {
  text-align: center;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-right: 5px solid @accent-color;
}

.schedule-list__year {
  .color-grey();
}

.schedule-list__content {
  background: #fff;
  border: 1px solid @border-color;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  //#BoxShadowHelper(1);
  margin-left: 10px;
}

.schedule-list__image {
  width: auto;
  height: 100px;
}

.schedule-list__info {
  margin-left: 20px;
  align-self: center;
  flex-grow: 1;

  small {
    color: #999;
  }
}

.schedule-list__delete-button {
  //display: block;
  float: right;
  font-size: 2em;
  //line-height: @add-movie-poster-height;
  border-left: 1px solid #e6e6e6;
  padding: 0 30px;
  color: #d9534f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #fafafa;
    color: saturate(#d9534f, 10%);
  }

  &:active {
    background: #f6f6f6;
    color: saturate(#d9534f, 10%);
  }
}
